

@media (min-width: 1200px) {
    .container-fluid{
        max-width: 1140px;
    }
    .container{
        max-width: 1100px !important;
    }
    .banner {
        min-height: 85vh;
    }
    .banner .form_part {
        height: 70%;
        top: 17%;
        width: 40%;
    }
    /*******************************/
    #dashboard .dash_item .items {
        width: 335px;
    }
}

/***************************************************************************************************************************************************************************************************/
@media (min-width: 1500px) {
    .container-fluid{
        max-width: 1400px;
    }
    .container{
        max-width: 1300px !important;
    }
    .banner {
        min-height: 85vh;
    }
    .banner .form_part {
        height: 70%;
        top: 17%;
        width: 40%;
    }
    /*********************************/
    #dashboard .dash_item .items {
        width: 400px;
    }
}

/***************************************************************************************************************************************************************************************************/
@media (max-width: 1200px){
    .container-fluid{
        max-width: 1100px;
    }
    .container{
        max-width: 1050px !important;
    }
    #parcel_table {
        padding: 60px 15px;
    }
    .navbar_sec .left_part ul {
        margin-left: 0px !important;
    }
    .navbar_sec .left_part ul li {
        padding: 0px 2px;
    }
    .navbar_sec .left_part .form-inline button {
        padding: 11px 8px;
    }
    /**************************/
    .banner {
        min-height: 85vh;
    }
    .banner .form_part {
        height: 70%;
        top: 17%;
        width: 40%;
    }
    .banner .form_part {
        width: 40%;
    }

    /****************************************************************/
    #dashboard .dash_item .items {
        width: 320px;
    }


    /**********************************/
    #rider_track {
        padding: 40px 0px;
    }
    #rider_track .track_body{
        padding: 0px 10px;
      }
      #rider_track .track_body{
        justify-content: space-between;
        padding: 0px 10px;
      }
      #rider_track .track_body .merchand,
#rider_track .track_body .customer,
#rider_track .track_body .stages .track_table{
  background: #F5F5F5;
  padding: 10px;
}
#rider_track .track_body h2{
    font-size: 16px;
  }
  #rider_track .track_body .merchand h4,
#rider_track .track_body .customer h4,
#rider_track .track_id h4{
  
  padding: 5px 0px;
}
#rider_track .track_table tbody tr td:first-child{
    width: 300px;
  }
  #rider_track .track_table tbody tr td:nth-child(2){
    width: 100px;
  }
  #rider_track .track_table tbody tr td:nth-child(3){
    width: 100px;
  }
    /*****************************/
}

/***************************************************************************************************************************************************************************************************/
@media (max-width: 1024px){
    .container-fluid{
        max-width: 960px;
    }
    .container{
        max-width: 960px !important;
    }
    .navbar_sec .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0px 6px !important;
    }
    .navbar_sec .left_part .form-inline input {
        width: 170px;
        font-size: 15px;
    }
    .navbar_sec .navbar .dropdown-menu {
        left: -55px !important;
     
    }
    /******************************/
    .banner {
        min-height: 85vh;
    }
    .banner .form_part {
        height: 70%;
        top: 17%;
        width: 40%;
    }
    /***************************/
    .parcel_items {
        height: 100px;
    }
    #parcel .form_part {
        width: 90%;
    }
    #parcel .book a {
        width: 120%;
    }
    #parcel_table {
        padding: 60px 30px;
    }
    #parcel_table .table_part .right .table tr td {
        height: 88px;

    }
    #question{
        padding: 40px 0px 40px 0px;
      }
    /*****************************/
    #service {
        margin-top: 0px;
    }
    #service .service_item img {
        height: 200px;
    }
    /************************************************************/
    #dashboard .dash_item .items {
        width: 290px;
    }
    #dashboard .dash_item .items .items_left img {
        width: 45px;
    }
    /*****************************/
    #faq .faq_law .faq_bottom a {
        padding: 8px 35px;
    }
    #faq .faq_law .faq_bottom i {
        font-size: 40px;
    }
    /******************************/
    #change_pass {
        padding: 70px 0px;
    }
    /**********************/
    #slider .carousel .slide_all_item {
        padding: 5px 0px 0px 0px;
   
    }
    /************************/
    #parcel_table .table_part {
        padding-top: 20px;
    }
    #parcel_table .table_part .left tr th {
        min-width: 160px;
    }
    /****************************/
    
    #notification {
        padding: 60px 0px;
    }
    #notification h1 {
        margin: 0px 0px 10px 0px;
        padding-bottom: 20px;
        margin-bottom: 5px;
    }
    /****************************/
    #rider_track .track_table tbody tr td:first-child{
        width: 250px;
      }
      #rider_track .track_table tbody tr td:nth-child(2){
        width: 95px;
      }
      #rider_track .track_table tbody tr td:nth-child(3){
        width: 95px;
      }
    /******************************/
}

/***************************************************************************************************************************************************************************************************/
@media (max-width: 991px) { 
    /*********************/
    #bottom-to-top {
        bottom: 70px;
      }
    /******************/
   
    .navbar-toggler {
        border: 0;
       
      }
  
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 0;
    }
  
    .toggler-icon {
      background: #602d90;
      width: 30px;
      height: 3px;
      background-color: #e74c3c;
      display: block;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
    .middle-bar {
        margin: 5px auto;
      }
    
      .navbar-toggler .top-bar {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: 10% 10%;
            -ms-transform-origin: 10% 10%;
                transform-origin: 10% 10%;
      }
    
      .navbar-toggler .middle-bar {
        opacity: 0;
        filter: alpha(opacity=0);
      }
    
      .navbar-toggler .bottom-bar {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: 10% 90%;
            -ms-transform-origin: 10% 90%;
                transform-origin: 10% 90%;
      }
     
      .navbar-toggler.collapsed .top-bar {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0);
      }
    
      .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
        filter: alpha(opacity=100);
      }
    
      .navbar-toggler.collapsed .bottom-bar {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0);
      }
    
      .navbar-toggler.collapsed .toggler-icon {
        background-color: #602d90;
      }
  
  
    .navbar-toggler.collapsed .toggler-icon {
      background-color: #602d90;
    }
    .navbar_sec .left_part ul {
        display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px !important;
    height: auto;
    }
    .navbar_sec .right_part {
        float: left !important;
        left: 0px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
    }
    .navbar_sec .left_part ul li {
        padding: 0px 10px;  
        width: 100%; 
        transition: .5s;
        margin: 10px 0px;
    }
    .navbar_sec .left_part ul li:hover {
        border-bottom: none;
        background: lemonchiffon;
    }
    .navbar_sec .navbar .dropdown-menu {
        left: -50px !important;
    }
    .navbar_sec .right_part ul li{
        margin-left: 0px;
        padding-left: 0px;
        
    }
    .navbar_sec .right_part ul li:hover{
        background: none;
    }
    .navbar_sec .right_part ul .lang {
        padding: 0px 0px;
        width: 60%;
    }
/********************** Navbar hide show**********/
    .navbar_sec .fixed_footer{
        display: block;
    }
    .navbar_sec .right_part ul .small_hide{
        display: none;
    }


    /************************/
    .navbar_sec .navbar .phone_hide_track{
        display: none;
    }
    .navbar_sec .navbar .lg_track_hide{
        display: contents;
    }
    .navbar_sec .navbar .small_track {
        padding: 0px 0px 0px 5px;
        height: 40px;
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .navbar_sec .navbar .small_track .form-control{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .navbar_sec .navbar .small_track button{
        background: #3DB2FF;
        color: #fff;
        height: 38px;
        padding: 0px 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
/***********************/


    /**************************/
    #service h2 {
        position: relative;
        font-weight: bold;
        margin-bottom: 50px;
        font-size: 30px;
        padding-bottom: 10px;
    }
    /***************************/
    .banner {
        min-height: 85vh;
    }
    .banner .middle .top p {
        padding-top: 10px;
    }
    .banner .text_part {
        position: relative;
        z-index: 99;
        padding-top: 40px;
        align-items: center;
    }
    .banner .form_part {
        position: absolute;
        left: 0%;
        height: 370px;
        width: 45%;
        top: 190px;
        width: 55%;
        border-radius: 15px;
        margin: 0 auto;
    }
    .banner .text_part h1 {
        font-weight: 700;
        font-size: 35px;
        text-align: center;
    }
    .banner .text_part p {
        text-align: center;
        margin-top: 20px;
    }
    .banner .text_part a {
        padding: 11px 12px 9px 11px;
        font-size: 15px;
    }

    /*************************/
    #service {
        margin-top: 0px;
    }
    #service .service_item h3 {
        font-size: 18px;
    }
    #service .service_item p {
        font-size: 15px;
    }
    #service .service_item img {
        height: 270px;
    }
/*******************************/
.parcel_items {
    height: 110px;
}
#parcel .form_part {
    width: 90%;
}
#partner .part_item h3 {
    font-size: 18px;
}
#parcel .book a {
    width: 145%;
}
    #parcel_table {
        padding: 60px 5px;
    }
    #parcel_table .table_part .right {
        width: 25%;
    }
    #parcel_table .table_part .right .table tr td {
        height: 88px;
        padding: 3px 0px;
    }
    #parcel .par_btn {
        padding: 0px 10px;
    }
    #parcel .par_btn span {
        font-size: 14px;
    }
    #parcel .book span {
        font-size: 14px;
    }
    /****************************/
    #parcel_view .view_left {
        margin-bottom: 40px;
    }
    #parcel_view .view_btn .right a {
        padding: 10px 15px;
        font-size: 15px;
    }
    #parcel_view .view_btn .left a {
        padding: 10px 15px;
        font-size: 15px;
    }
    /*************************************/
    #partner h2 {
        font-size: 30px;
    }
    /**************************************/
    #district {
        padding: 20px 0px 40px 0px;
    }
    #district .img-fluid {
        width: 350px;
        margin: 0 auto;
        display: block;
    }
    #district .dis_text h2 {
        font-size: 30px;
        text-align: center;
        padding: 0px 140px;
    }
    #district .dis_text p {
        text-align: center;
    }
    #district .dis_text .dis_btn button {
        margin: 0 auto;
        display: block;
    }
    /*********************************/
    #calculator {
        padding: 50px 0px 50px 0px;
    }
    #calculator h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    /*******************************/
    #slider {
        padding: 0px 0px 30px 0px;
    }
    #slider h2 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    /*******************************/
    #question {
        padding: 15px 0px 10px 0px;
    }
    #question h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    #question button {
        font-size: 18px;
    }
    #question .card-body {
        font-size: 16px;
        padding: 0px 0px 10px 55px;
    }
    /***************************/
    #sign {
        padding: 30px 0px 30px 0px;
    }
    #sign .part_item h2 {
        font-size: 30px;
    }
    #sign .part_item {
        padding: 25px 30px;
    }
    #sign .part_item .part_right a {
        padding: 15px 60px;
    }
    /***************************/
    #signin .sign_form .sign_form_part {
        width: 85%; 
    }
    #signin .sign_form .middle {
        width: 85%;
    }
    #signin .sign_form .sign_btn button {
        width: 85%;
    }
    /***************************/
    footer {
        padding: 40px 0px 62px 0px;
        margin-bottom: 20px;
    }
    footer .foot_social ul {
        justify-content: center !important;
        align-items: center !important;
    }
    footer h4 {
        margin-top: 30px;
    }
    /******************** Dashboard   ***********************************************************/
    #dashboard {
        padding: 40px 0px 30px 0px;
    }
    #dashboard .dash_right .right_select select {
        font-size: 15px;
    }
    #dashboard .dash_right label {
        font-size: 15px;
    }
    #dashboard .dash_item .items {
        padding: 40px 10px;
    }
/*************************************************************************/
#parcel_table {
    padding: 30px 5px;
}

/**************************************************************************************/
#payment {
    padding: 30px 0px;
}
/********************************************/
#create_part {
    padding: 30px 0px !important;
}
/**********************************/

/*************************************/
#payment_index {
    padding: 30px 0px;
}
#payment_index .pay_body .pay_item ul li {
    width: 345px;
}
/**************************************/
#notification {
    padding: 50px 0px;
}
#notification h1 {
    font-size: 20px;
}
/********************************************/
#coverage {
    padding: 40px 0px;
}
/********************************************/
#change_pass {
    padding: 50px 0px;
}
/************************************/
#faq .faq_heading h1 {
    font-size: 25px;
    margin-bottom: 20px;
}
#faq .top_title{
    margin-left: 35px;
}
#faq .title {
    margin: 40px 0px 0px 0px;
}
#faq .faq_law {
    margin-top: 50px;
}
#faq .faq_law h1 {
    margin-bottom: 15px;
    font-size: 25px;
}
#faq .faq_law .faq_bottom {
    margin: 10px 0px;
}
#faq .faq_law .faq_bottom a {
    padding: 10px 40px;
    font-size: 15px;
}#faq .faq_law .faq_bottom h2 {
    font-size: 20px;
}
#faq .top_title {
    margin-left: 5px;
}
/********************************/
#payment_create {
    padding: 40px 0px;
}
#payment_create form label{
    margin-top: 0px !important;
}
/******************************/

#rider_track .track_body .merchand, #rider_track .track_body .customer, #rider_track .track_body .stages .track_table {
    margin: 10px;
}
#rider_track {
    padding: 30px 0px;
}
#rider_track h1 {
    font-size: 25px;
    margin-bottom: 15px;
}
#rider_track .track_table tbody tr td:first-child {
    width: 300px;
}
#rider_track .track_table tbody tr td:nth-child(2) {
    width: 110px;
}
#rider_track .track_table tbody tr td:nth-child(2) {
    width: 110px;
}
/******************************/
#track .check_body {
    margin-bottom: 20px;
}
#track .right {
    margin-top: 54px;
}
/********************************/
#calculator .charge_list .charge_icon {
    padding: 0px 15px 0px 0px;
}
#calculator .charge_list .charge_area ul {
    justify-content: flex-start;
    padding: 0px 20px;
}
#calculator .charge_list h1 {
    font-size: 30px;
}
#calculator .charge_list .charge_link {
    margin: 10px 0px 5px 0px;
}
#calculator .charge_list .bottom {
    margin-top: 10px;
    padding-bottom: 30px;
}
/*****************************/

  }


  /****************************************************************************************************************************************************************************************************************************************/

  @media (max-width: 767px){

    .navbar_sec .banner_item .right{
        margin-top: 15px;
    }

    .navbar_sec .fixed_footer ul {
        padding: 20px 10px 0px 10px;
    }

    .navbar_sec .navbar .small_track {
        width: 50%;
    }
/**********************/
    .banner .form_part {
        height: 52%;
        top: 30%;
        width: 70%;
    }
    .banner .text_part h1 {
        font-size: 30px;
    }
    .banner .form_part .input_part {
        height: 40px;
    }
    .banner .form_part .middle_input input {
        height: 40px;
    }
    .banner .form_part .btn button {
        height: 40px;
        font-size: 16px;
    }
    .banner .form_part .middle_input .last span {
        height: 40px;
    }

    .banner {
        min-height: 600px;
    }
    .banner .text_part p {
        font-size: 16px;
        display: none;
    }
    .banner .form_part {
        height: 350px;
        top: 135px;
        width: 65%;
    }
    /**************************/
    .parcel_items {
        width: 100%;
    }
    .parcel_items {
        height: 110px;
        margin: 0 auto;
    }
    #parcel_table .table_part .right {
        width: 43%;
    }
    /******************************/
    #service .service_item {
        margin-bottom: 35px;
        padding: 0px 10px;
    }
    #service h2 {
        font-size: 25px;
    }
    /**************************/
    #partner {
        padding: 25px 0px 15px 0px;
    }
    #partner h2 {
        font-size: 25px;
    }
    #partner .part_item i {
        padding: 0px 0px 30px 0px;
    }
    /******************************/
    #district .img-fluid {
        width: 275px;
    }
    #district .dis_text h2 {
        font-size: 25px;
        padding: 0px 20px;
    }
    #district .dis_text .dis_btn button {
        width: 250px;
        height: 45px;
        font-size: 16px;
    }
    /***************************/
    #calculator {
        padding: 25px 0px 25px 0px;
    }

    /**************************/
    #slider {
        padding: 0px 0px 20px 0px;
    }
    #slider h2 {
        font-size: 25px;
    }
    #question h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    /*****************/
    #sign .part_item {
        padding: 15px 15px;
    }
    #sign .part_item h2 {
        font-size: 25px;
    }
    #sign .part_item .part_right a {
        padding: 9px 10px;
        font-size: 15px;
    }
    #sign .part_item p {
        font-size: 16px;
    }
    /***********************************/
    #signin {
        border-top: 0px solid rgb(207, 207, 207);
        padding-top: 0px;
        margin-top: 0px;
    }
    #signin .sign_form h1 {
        font-size: 30px;

    }
    #signin .sign_slider {
        padding-top: 0px;
    }
    #signin .sign_form {
        padding: 30px 0px 0px 0px;
    }
    #signin .sign_form .sign_form_part {
        width: 75%; 
    }
    #signin .sign_form .middle {
        width: 75%;
    }
    #signin .sign_form .sign_btn button {
        width: 75%;
    }
    /*************************************************************/
    #dashboard {
        padding: 40px 0px 0px 0px;
    }
   
    
    #dashboard .dash_top p {
        padding-left: 0px;
        margin-bottom: 15px;
    }
    #dashboard .dash_top h1 {
        font-size: 25px;
        padding-bottom: 10px;
        line-height: 30px;
    }
  
    #dashboard .dash_item .items {
        width: 47%;
    }
    #dashboard .dash_item .items .items_left img {
        width: 40px;
    }
    #dashboard .dash_item .items .items_left .text p {
        font-size: 15px;
    }
    #dashboard .dash_item .items .items_right a{
        font-size: 14px;
    }
    #dashboard .dash_top {
        padding-left: 5px;
    }
    #dashboard .dash_right .right_select select {
        height: 40px;
    }
    #dashboard .dash_right label {
        height: 40px;
    }
/***************************************/
#parcel_table .list ul li {
    width: 170px;
}
/***************************************/

/************************/
#parcel_view .view_heading h1 {
    font-size: 25px;
    margin-bottom: 15px;
}
#parcel_view .view_heading h1 i {
    font-size: 25px;
}
#parcel_view .view_body .view_marchant {
    padding: 10px;
}
#parcel_view .view_body .view_customer {
    padding: 10px;
}
#parcel_view .view_body .view_status p {
    padding: 10px;
}
#parcel_view .view_heading p {
    font-size: 15px;
    margin-bottom: 20px;
}
#parcel_view {
    padding: 30px 0px;
}
#parcel_view .view_right .know {
    padding: 20px;
}
#parcel_view .view_right .view_guide {
    padding: 20px;
    margin-top: 25px;
}
#parcel_view .view_body h3 {
    font-size: 16px;
}
#parcel_view .view_body h5 {
    font-size: 16px;
}
#parcel_view .view_right .know h4, #parcel_view .view_right .view_guide h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
#parcel_view .view_right h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
/**************************/
#create_part h1 {
    font-size: 20px;
}
/*************************************/
#shop_index {
    padding: 40px 0px 200px 0px;
}
#shop_index ul {
    width: 100%;
}

#shop_index ul li {
    width: 46%;
    height: 200px;
}
/********************************/
#notification input {
    height: 45px;
}
/******************************************/
#coverage .cov_heading .left h1 {
    font-size: 20px;
    margin-right: 20px;
}
#coverage .cov_heading .left {
    margin-bottom: 20px;
}
#coverage .cov_heading select, #coverage .cov_heading input {
    width: 185px;
}
/****************************************/
#change_pass {
    padding: 30px 0px;
}
#change_pass .eye_design {
    height: 45px;
}
#change_pass .eye_design input {
    height: 44px;
}
/**************************************/
#faq {
    padding: 30px 0px 20px 0px;
}
#faq .faq_heading h1 {
    font-size: 22px;
}
#faq h2 {
    font-size: 20px;
    margin: 15px 0px 0px 0px;
}
#faq button {
    font-size: 16px;
    line-height: 20px;
}
#faq .card-body {
    font-size: 15px;
    padding: 0px 10px 10px 10px;
}
#faq .faq_law h1 {
    margin-bottom: 5px;
    font-size: 20px;
}
#faq .faq_law .faq_bottom h2 {
    font-size: 18px;
}

/*******************************/
#payment_create {
    padding: 30px 0px;
}
#payment_create h1 {
    font-size: 23px;
    line-height: 40px;
}
#payment_create .create_body button {
    padding: 13px 45px;
    margin-top: 0px;
}
#payment_create .create_body {
    padding: 10px 0px;
}
/************************************/
#rider_login .main{
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#rider_login .hidden_part{
    display: none;
}
#rider_login .main .right input {
    height: 45px;
    font-size: 14px;
}
#rider_login .main .right .eye_design {
    height: 45px;
}
/************************************************/
#rider_track .track_body .small_top{
    order: 1;
}
#rider_track .track_body .small_two{
    order: 2;
}
#rider_track .track_body .small_three{
    order: 3;
}
#rider_track {
    padding: 20px 0px;
}
#rider_track .track_table tbody tr td:first-child {
    width: 100%;
}
#rider_track .track_table tbody tr td:nth-child(2) {
    width: 120px;
}
#rider_track .track_table tbody tr td:nth-child(2) {
    width: 110px;
}
/************************************************/
#calculator .charge_list h1 {
    font-size: 25px;
}
#calculator .charge_list .charge_area ul li {
    padding: 5px 5px;
    margin: 2px;
}
#calculator .charge_list .charge_area ul li .items h2 {
    font-size: 14px;
}

/************************************/


  }

  /****************************************************************************************************************************************************************************************************************************************/
  @media (max-width: 575px){

    #bottom-to-top {
        bottom: 60px;
        font-size: 20px;
    }
    /******************* Index Page *****************************************************/
    .navbar_sec .navbar{
        padding: 0px 5px 10px 5px !important;
    }
    .navbar_sec .left_part ul {
        margin-left: 5px !important;
    }
    .navbar_sec .left_part ul li {
        margin: 5px 0px;
    }
    .navbar_sec .fixed_footer ul li a {
        font-size: 12px;
    }
    .navbar_sec .fixed_footer ul {
        padding: 20px 5px 0px 5px;
    }
    .navbar_sec .fixed_footer ul li:first-child a {
        background: #fff;
        padding: 5px 9px;
    }
    .navbar_sec .fixed_footer ul {
        padding: 15px 5px 0px 5px;
    }
    .navbar_sec .navbar .dropdown-menu {
        left: 0px !important;
    }
    .navbar_sec .navbar-brand img {
        width: 55px;
    }

    .navbar_sec .navbar .dropdown-menu {
        top: 24px;
    }
    /***********************/
    .navbar_sec .navbar .small_track {
        width: 65%;
    }
    .navbar_sec .navbar .small_track button {
        padding: 0px 5px;
    }


    .navbar_sec .navbar .small_track .form-control {
        font-size: 12px;
    }
    .navbar_sec .navbar .small_track button {
        height: 32px;
    }
    /*********************/
.banner .text_part h1 {
    font-size: 25px;
}
    /***************************/
    #signin .sign_form h1 {
        font-size: 25px;
    }
    #signin .sign_form p {
        font-size: 16px;
        line-height: 25px;
    }
    #signin .sign_form .sign_form_part {
        width: 100%;
        height: 40px;
    }
    #signin .sign_form .middle {
        width: 100%;
        height: 40px;
    }
    #signin .sign_form .middle p {
        font-size: 14px;
    }
    #signin .sign_form .middle input {
        height: 55px;
        
    }
    #signin .sign_form .sign_btn button {
        height: 40px;
        margin: 5px 0px;
        font-size: 16px;
        width: 100%;
    }
    #signin .sign_form .sign_bottom p {
        font-size: 14px;
        line-height: 27px;
    }
/*****************************/
.banner .text_part {
    padding-top: 30px;
}

.banner .form_part .input_part {
    height: 40px;
    padding: 0px 0px 0px 5px;
    width: 100%;
}
.banner .form_part .input_part .left {
    margin-right: 5px;
    padding-right: 5px;
    width: 65px;
}
.banner .text_part a {
    padding: 8px 9px 6px 8px;
    font-size: 14px;
}
.banner {
    min-height: 550px;
}
.banner .form_part {
    height: 340px;
    top: 110px;
    width: 95%;
}
.banner .form_part .middle {
    padding: 0px;
}
.banner .middle .top p {
    font-size: 14px;
    padding-bottom: 15px;
}
/*****************************/
#parcel .form_part {
    width: 100%;
}
#parcel .form_part input {
    padding: 7px;
    width: 100%;
}
#parcel .book a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
#parcel .book span {
    font-size: 13px;
    padding: 10px 10px;
    width: 100%;
    height: 40px;
}
    #parcel_table .table_part .right .table tr td {
        height: 88px;
        padding: 3px 0px;
    }
    #parcel_table .list ul li {
        width: 100%;
    }
    #parcel_table .list ul li:last-child {
        margin-top: 10px;
        width: 100%;
    }
    #parcel_table .list ul li a {
        width: 100%;
        display: block;
        text-align: center;
    }
    #parcel_table .order {
        padding-top: 0px;
    }
    #parcel_table .order h1 {
        font-size: 20px;
    }
    #parcel_table .table_part {
        padding-top: 30px;
    }
    #parcel .par_btn span {
        font-size: 12px;
    }
    #parcel .par_btn {
        padding: 0px 5px;
    }

    /**************************/
    #parcel_view {
        padding: 20px 0px;
    }
    #parcel_view .view_heading h1 {
        font-size: 19px;
        margin-bottom: 10px;
    }
    #parcel_view .view_download p{
        font-size: 14px;
    }
    #parcel_view .view_body h3 {
        font-size: 14px;
    }
    #parcel_view .view_body .view_invoice .left, #parcel_view .view_body .view_invoice .right {
        padding: 10px;
        font-size: 14px;
        width: 40%;
    }
    #parcel_view .view_body .view_bar .right .bottom p {
        padding: 10px;
    }
    #parcel_view .view_btn .right a {
        padding: 8px 8px;
        font-size: 13px;
    }
    #parcel_view .view_btn .left a {
        padding: 8px 8px;
        font-size: 13px;
    }
    #parcel_view .view_body .view_bar .left img {
        padding: 0px;
        width: 135px;
    }
    #parcel_view .view_body .view_bar .right .bottom p:first-child {
        border-right: 0px;
    }
    #parcel_view .view_body .view_invoice .right p span, #parcel_view .view_body .view_bar p span {
        font-size: 13px;
    }
    #parcel_view .view_body .view_bar .right .bottom p {
        padding: 5px;
    }
    #parcel_view .view_left {
        margin-bottom: 30px;
    }
    #parcel_view .view_right .know h4, #parcel_view .view_right .view_guide h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    #parcel_view .view_right h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    /**********************/
    #service h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    #service .service_item img {
        height: 200px;
    }
    #service .service_item h3 {
        font-size: 17px;
    }
    #service .service_item p {
        font-size: 14px;
    }
    #service .service_item {
        margin-bottom: 20px;
        padding: 0px 10px;
    }
/***************************/
#partner {
    padding: 15px 0px 15px 0px;
}
#partner h2 {
    font-size: 22px;
    line-height: 35px;
}
#partner .part_item i {
    padding: 0px 0px 15px 0px;
    font-size: 50px;
}
#partner .part_item h3 {
    font-size: 17px;
}
#partner .part_item p {
    font-size: 15px;
}
/***********************/
#district .img-fluid {
    width: 220px;
}
#district .dis_text h2 {
    font-size: 23px;
    padding: 0px 0px;
    line-height: 30px;
    margin-bottom: 10px;
}
#district .dis_text p {
    text-align: center;
    font-size: 16px;
}
#district .dis_text .dis_btn button {
    width: 215px;
    height: 40px;
}
/************************/
#calculator h2 {
    font-size: 25px;
    margin-bottom: 5px;
}
#calculator .cal_form input {
    height: 40px;
    margin-bottom: 15px;
}
#calculator .cal_form button {
    height: 40px;
}
#calculator .nav_drop .same {
    padding: 0 5px;
}
#calculator .arrow {
    margin: 17px 1em 0 15px;
}
/*********************/
#slider h2 {
    font-size: 25px;
    line-height: 35px;
}
#slider .carousel {
    padding-top: 10px;
}
/********************/
#question button {
    font-size: 15px;
}
#question .card-header {
    padding: 10px 0px;
}
#question .card-body {
    font-size: 15px;
    padding: 0px 0px 10px 15px;
}

/**************************/
#sign {
    padding: 15px 0px 0px 0px;
}
#sign .part_item {
    display: block;
}
#sign .part_item h2 {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}
#sign .part_item p {
    text-align: center;
    margin-bottom: 10px;
}
#sign .part_item .part_right a {
    padding: 9px 10px;
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/
footer {
    padding: 25px 0px 40px 0px;
    margin-bottom: 55px;
}
footer .small{
    text-align: center !important;
}
footer .one p {
    font-size: 14px;
}
footer .foot_link p a {
    line-height: 30px;
    font-size: 14px;
}
footer .add_list p {
    font-size: 14px;
    padding: 5px 0px;
}
footer .phn_hide{
    display: none;
}
/******************* End Index Page *****************************************************/

#dashboard {
    padding: 20px 0px 0px 0px;
}
#dashboard .dash_top {
     padding-left: 0px;
}
#dashboard .dash_top .dash_left p{
    padding-left: 0px;
}
#dashboard .dash_top p {
    padding-left: 25px;
}
#dashboard .dash_right label {
    font-size: 11px;
    width: 100%;
    padding: 10px 1px;
}
#dashboard .dash_right .right_select select {
    font-size: 14px;
}
#dashboard .dash_item .items {
    margin: 10px;
    width: 100%;
}
#dashboard .dash_right .right_select{
    width: 100%;
    margin: 0 auto;
  }
  #dashboard .dash_right .right_date{
    width: 100%;
    margin: 0 auto;
  }
  #dashboard .dash_right .right_select select {
    width: 100%;
}

/*******************************************************************************/
#payment .right ul li:first-child input {
    height: 40px;
    font-size: 14px;
}
#payment .right label {
    height: 40px;
    font-size: 11px;
    padding: 10px 1px;
    width: 100%;
}
#payment .right ul {
    margin: 0px !important;
}
#payment .right ul li {
    width: 100%;
}
#payment .right ul li a {
    width: 100%;
    display: block;
    text-align: center;
}
/**************************************/
#create_part .button_part {
    padding: 15px 0px 30px 0px;
}
#create_part .ship_part select {
    width: 100%;
}
#create_part .button_part .button {
    margin-top: 25px;
    width: 100%;
    padding-right: 0px;
}
#create_part .button_part .button .one{
width: 100%;
}
#create_part .button_part .button a {
    display: block;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
#create_part .right_part {
    padding: 15px 5px;
}
#create_part .form_part input, #create_part .form_part select {
    height: 40px;
}
/************************************/
#shop_part {
    padding: 30px 0px 15px 0px;
}
#shop_part .head h1 {
    font-size: 25px;
    margin-bottom: 0px;
}
#shop_part p {
    margin-bottom: 0px;
}
#shop_part h3 {
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}
#shop_part input, #shop_part select {
    height: 40px;
}
#shop_part button {
    margin-top: 10px;
    padding: 10px 40px;
    font-size: 15px;
}
#shop_index ul li {
    width: 100%;
    height: 180px;
}
#shop_index .shop_item h4{
    font-size: 22px;
}
#shop_index .shop_item p {
    font-size: 14px;
}
#shop_index ul .first .add_shop .bottom p {
    font-size: 16px;
}
#shop_edit {
    padding: 20px 0px;
}
#shop_edit h1 {
    font-size: 25px;
    margin: 0px 0px 30px 0px;
    padding-bottom: 16px;
    margin-bottom: 15px;
}
#shop_edit input {
    height: 40px;
}
#shop_edit button {
    padding: 12px 25px;
    font-size: 13px;
}
#shop_edit label {
    margin-top: 0px;
}
/***************************************/
#payment_index {
    padding: 30px 0px 0px 0px;
}
#payment_index .pay_body {
    padding: 10px 0px;
}
#payment_index .pay_body .pay_item ul li {
    width: 100%;
}
#payment_index .pay_body .pay_item ul .common .second_span {
    flex: 0.8 1 0%;
    font-size: 12px;
}
#payment_index .pay_body .pay_item ul li{
    margin: 10px;
    padding: 10px;
  }

  #payment_index .pay_heading h1 {
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    color: #000000;
    margin-right: 10px;
}

  #payment_create p {
    font-size: 14px;
}
#payment_create .create_body .form-check {
    margin: 0px 5px;
}
#payment_create .create_body input, #payment_create .create_body select {
    height: 40px;
}
#payment_create .create_body button {
    padding: 13px 35px;
    font-size: 14px;
}
#payment_create {
    padding: 20px 0px;
}

#payment_create .payment_otp {
    padding: 15px 5px;
}
#payment_create .payment_otp .otp_top h2 {
    font-size: 20px;
    margin: 0px 0px 5px 0px;
}
#payment_create .payment_otp .otp_top i {
    font-size: 20px;
}
/********************************************/
  #payment_create h1 {
    font-size: 20px;
}
/*****************************/
#notification h1 {
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    line-height: 30px;
}
#notification input {
    height: 40px;
}
#notification button {
    padding: 12px 40px;
    font-size: 15px;
}
/***********************************/
#coverage {
    padding: 25px 0px;
}
#coverage .cov_heading .left h1 {
    margin-bottom: 15px;
}
#coverage .cov_heading select, #coverage .cov_heading input {
    width: 100%;
    margin: 5px 0px;
}
#coverage .cov_heading .left {
    width: 100%;
}
/**************************************/
#change_pass h1 {
    font-size: 20px;
    margin-bottom: 15px;
}
#change_pass .eye_design {
    height: 40px;
}
#change_pass .eye_design input {
    height: 40px;
    width: 80%;
}
#change_pass button {
    padding: 8px 50px;
    font-size: 15px;
}
#change_pass p {
    text-align: justify;
}
/********************************/
#faq .faq_heading h1 {
    font-size: 18px;
    margin-bottom: 15px;
}
#faq .faq_law h1 {
    font-size: 18px;
}
#faq .faq_law .faq_bottom h2 {
    font-size: 16px;
}
#faq .faq_law .faq_bottom p {
    font-size: 14px;
}
#faq .faq_law .faq_bottom i {
    font-size: 35px;
}
#faq .faq_law .faq_bottom a {
    padding: 8px 15px;
    font-size: 14px;
}
#faq h3 {
    font-size: 16px;
}
#faq .faq_left ul li {
    margin-bottom: 15px;
}

/*******************************************/
#terms {
    padding: 20px 0px;
}
#terms h1 {
    font-size: 25px;
    margin-bottom: 20px;
}
#terms .items h4 {
    font-size: 17px;
    margin: 25px 0px 5px 0px;
}
#terms .items ul li {
    margin-left: 35px;
}
/*********************************/
#pickup_edit {
    padding: 20px 0px 0px 0px;
}
#pickup_edit button {
    padding: 7px 15px;
    margin: 5px 5px;
    font-size: 14px;
}
.modal-content {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 70px;
}
/*****************************************/
#rider_track .track_body .merchand, #rider_track .track_body .customer, #rider_track .track_body .stages .track_table {
    width: 100%;
}
#rider_track .track_id {
    margin-bottom: 0px;
}
#rider_track h1 {
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#rider_track .track_body .merchand h4, #rider_track .track_body .customer h4, #rider_track .track_id h4 {
    font-size: 14px;
}
#rider_track .track_table tbody tr td p {
    text-align: start;
    font-size: 14px;
}
#rider_track .track_body h2 {
    font-size: 16px;
    margin-bottom: 0px;

}
#rider_track .track_table tbody tr td:first-child {
    width: 100%;
}
/*****************************************/
#track .check_box .icon_part i {
    height: 36px;
    width: 36px;
    padding: 9px;
    font-size: 16px;
}
#track .check_box::after {
    top: 71px;

}
#track .heading {
    margin-bottom: 15px;
}
#track .check_box .icon_part {
    margin: 20px 6px 0px 0px;
}
/************************************/
#calculator .charge_list h1 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 0px;
}
#calculator .charge_list p {
    font-size: 15px;
    margin-bottom: 5px;
}
#calculator .charge_list .charge_area ul {
    justify-content: flex-start;
    padding: 0px 10px;
}
#calculator .charge_list .charge_area ul li {
    padding: 5px 2px;
}

#calculator .charge_list .charge_link ul li {
    margin: 0px 5px;
    font-size: 14px;
    margin-bottom: 5px;
}
#calculator .charge_list .charge_link {
    margin: 5px 0px 0px 0px;
}
/***********************************/



  }
/***********************************************************************************************************************************************************************/

  @media (max-width: 320px){
    .navbar_sec .navbar .small_track {
        width: 65%;
    }
    #parcel_table .table_part .right {
        width: 53%;
    }
    #payment .right label {
        font-size: 10px;
        padding: 10px 0px;
    }
    #parcel_view .view_body .view_invoice .right p:first-child {
        margin-right: 20px;
    }
    #dashboard .dash_right label {
        font-size: 11px;
        padding: 10px 0px;
    }
    .banner {
        min-height: 570px;
    }
    .banner .form_part {
        height: 340px;
        top: 135px;
        width: 95%;
    }
    .banner .form_part .input_part .left {
    width: 70px;
    }
    
   
    #track h4 {
        font-size: 14px;
    }
  }