@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Noto+Sans+Bengali:wght@200;300;400;500;600&display=swap");

html,
body {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Bengali", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

a:hover {
  text-decoration: none;
}
ul{
  padding: 0px;
}
ul li{
  list-style-type: none;
}
/*Top to bottom Scroll Button*/
#bottom-to-top {
  position: fixed;
  bottom: 10px;
  right: 1px;
  font-size: 30px;
  background: #e74c3c;
  color: rgb(34, 33, 33);
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#bottom-to-top:hover {
  background: rgb(155, 58, 58);
  transition: 0.5s;
}


/********************* Form Validation ************************/

form label {
  width: 100%;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

form label span {
  font-size: 1rem;
}

form label.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 0px;
  padding-left: 0px;
}



form [type="submit"], [type="reset"], button, html [type="button"] {
    margin-left: 0;
    border-radius: 0;
    color: white;
    border: none;
    font-weight: 300;
    padding: 10px 0;
    line-height: 1;
}

/********************* End Form Validation ************************/



/*End Top to bottom Scroll Button*/
/************* Start Navbar Section **************/

.navbar_sec{
  border-bottom: 1px solid rgb(211, 211, 211);
}
.navbar_sec .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 0px;
}
.navbar_sec .navbar-brand img {
  width: 80px;
}
.navbar_sec .navbar-brand span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 25px;
}

.navbar_sec .left_part ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px !important;
  height: 60px;
}
.navbar_sec .left_part ul li {
  padding: 0px 5px;
  transition: .5s;
}
.navbar_sec .left_part ul li a {
  color: #424242;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
.navbar_sec .left_part ul li:hover {
  border-bottom: 1px solid #000;
}
.navbar_sec .left_part .form-inline input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 170px;
}
.navbar_sec .left_part .form-inline button{
  border: none;
  outline: none;
  background: #3DB2FF;
  color: #fff;
  padding: 11px 12px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}



.navbar_sec .navbar .dropdown-menu {
  background-color: #ffffff;
  display: none;
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 36px;
  left: -80px !important;
  border: 1px solid rgb(197, 197, 197);
}
.navbar_sec .navbar .dropdown:hover .dropdown-menu {
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar_sec .navbar .dropdown-menu a{
  padding: 8px 15px;
  font-size: 14px;
  text-transform: capitalize;
  color: #424242;
  font-weight: normal;
}
.navbar_sec .navbar .dropdown-menu a:hover{
  background: #E6F7FF;
}




.navbar_sec .right_part{
  float: right !important;
  right: 0px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.navbar_sec .right_part ul li a{
  transition: .3s;
}
.navbar_sec .right_part ul li a:hover {
  color: #0056B3;
}
.navbar_sec .right_part ul .btn_link a{
  background: #3DB2FF;
  color: #fff;
  border-radius: 30px;
  padding: 8px 12px;
  text-decoration: none;
  transition: .4s;
  border: none;
  font-size: 14px;
}
.navbar_sec .right_part ul .btn_link a:hover{
  background: #00438a;
  color: #fff;
  border: none;
}
.navbar_sec .right_part ul .phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar_sec .right_part ul .phone i {
  color: #0574bd;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar_sec .right_part ul .phone .call {
  color: black;
  font-weight: 400;
  font-size: 16px;
}
.navbar_sec .right_part ul .phone .num {
  color: #0574bd;
  font-weight: 400;
  font-size: 16px;
}
.navbar_sec .right_part ul li {
  margin: 0px 0px;

  cursor: pointer;
}
.navbar_sec .right_part ul li:hover{
  border-bottom: none;
}
.navbar_sec .right_part ul li button {
  border: 1px solid #0574bd;
  background: transparent;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 600;
  color: #0574bd;
  font-size: 18px;
  transition: 0.5s;
  overflow: hidden;
}
.navbar_sec .right_part ul li button:hover {
  border: 1px solid #0574bd;
  background: #9fcae6;
  color: #fff;
}
.navbar_sec .right_part ul .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #d6d6d6;
  border-right: 2px solid #d6d6d6;
  padding: 0px 15px;
}
.navbar_sec .right_part ul .lang i {
  color: #d6d6d6;
  font-size: 22px;
}
.navbar_sec .right_part ul .lang span {
  font-size: 18px;
  color: rgb(37, 37, 37);
  font-weight: 400;
  margin-left: 5px;
}






/******************* Start Navbar Banner ***************/
.navbar_sec .banner_bor{
  border-top: 1px solid rgb(173, 173, 173);
}
.navbar_sec .banner_item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0px;

}
.navbar_sec .banner_item p{
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.navbar_sec .banner_item i{
  font-size: 20px;
  color: #3DB2FF;
  margin-right: 10px;
}
.navbar_sec .banner_item a{
  font-size: 14px;
  font-family: "Lato", sans-serif;
  background: #3DB2FF;
  color: #fff;
  padding: 7px 20px;
  border-radius: 30px;
  transition: .4s;
  
}
.navbar_sec .banner_item a:hover{
  background: #2a83be;
}

/***************************/




.navbar_sec .fixed_footer{
  background: #3DB2FF;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  margin-top: 10px;
  display: none;
}

.navbar_sec .fixed_footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 30px 5px 30px;
  
}
.navbar_sec .fixed_footer ul li a{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: .4s;
  
}
.navbar_sec .fixed_footer ul li a:hover{
  color: #000;
}
.navbar_sec .fixed_footer ul li:first-child a{
  background: #fff;
  color: #000000;
  padding: 8px 15px;
  border-radius: 15px;
}
.navbar_sec .lg_track_hide{
  display: none;
}



/******************* End Navbar Banner ***************/


/************* End Navbar Section **************/

/************ Start Banner Section *************/
.banner {
  position: relative;
  min-height: 70vh;
  background-size: initial;
  background-repeat: no-repeat;
  background-color: #3DB2FF;
  width: 100%;
  overflow: hidden;
}
.item_part {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
}
.banner .text_part {
  float: left;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.banner .text_part h1 {
  color: #fff;
  font-weight: 800;
  font-size: 45px;
}
.banner .text_part p {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
}
.banner .text_part a {
  box-shadow: 10px -4px 16px -7px rgba(43, 43, 43, 0.75);
  -webkit-box-shadow: 10px -4px 16px -7px rgba(43, 43, 43, 0.75);
  -moz-box-shadow: 10px -4px 16px -7px rgba(43, 43, 43, 0.75);
  background: #fff;
  padding: 15px 15px 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: rgb(92, 92, 92);
  transition: .4s;
  border: 2px solid rgb(255, 184, 48);
}
.banner .text_part a:hover{
  background: #3DB2FF;
  color: #fff;
}
.banner form label.error {
  color: red;
  font-size: 12px;
  display: block;
  padding-left: 0px;
  margin-top: 5px;
  position: absolute;
}

.banner .form_part {
  background: rgb(255, 184, 48);
  position: absolute;
  right: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 65%;
  top: 12%;
  flex-direction: column;
  width: 33%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.banner .form_part .middle {
  padding: 10px;
}
.banner .form_part .input_part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 0px 0px 5px;
  overflow: hidden;
  margin:0px 0px 25px 0px;
}

.banner .form_part .input_part .left {
  margin-right: 10px;
  border-right: 1px solid rgb(107, 107, 107);
  padding-right: 10px;
  font-size: 15px;
}

.banner .form_part .input_part .right label{
  display: flex;
  flex-direction: column;

}
.banner .form_part .input_part input {
  outline: none;
  border: none;
  position: relative;
  height: 45px;
  width: 100%;
}
.banner .form_part .btn {
  position: absolute;
  padding: 0px;
  margin: 10px 0px;

}
.banner .middle .top p{
  font-size: 15px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
}
.banner .form_part .middle_input {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.banner .form_part .middle_input input{
  width: 100%;
  outline: none;
  border: none;
  margin: 10px 0px;
  height: 45px;
  border-radius: 5px;
  padding-left: 10px;
}
.banner .form_part .middle_input .first{
  margin: 0px 0px 20px 0px;
  
}
.banner .form_part .middle_input .last{
  height: 45px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 10px 0px 20px 0px;
}
.banner .form_part .middle_input .last input{
  outline: none;
  border: none;
  margin: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
}
.banner .form_part .middle_input .last span{
  border: none;
  background: #fff;
}
.banner .form_part .btn{
  display: block;
  width: 100%;
  position: relative;
}
.banner .form_part .btn button{
  border-radius: 10px;
  height: 45px;
  border: none;
  outline: none;
  font-weight: 600;
  background: #ffffff;
  display: block;
  width: 100%;
  font-size: 18px;
  color: rgb(87, 87, 87);
  transition: .5s;
  border: 2px solid #3DB2FF;
}
.banner .form_part .btn button:hover{
  background: #3DB2FF;
  color: #fff;
}
/************ End Banner Section *************/

/************** Start Parcel ********************/
.parcel_items {
  overflow: hidden;
  background: rgb(255, 255, 255);
  top: -60px;
  z-index: 999;
  position: relative;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 102%;
  height: 135px;
  border-radius: 10px;
  box-shadow: rgb(199 199 199 / 75%) 0px 2px 24px -2px;
  padding: 8px;
}
#parcel .form_part {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  padding-left: 5px;
  position: relative;
}

#parcel .hidden_part {
  display: none;
}

#parcel .form_part i {
  font-size: 22px;
  color: rgb(158, 158, 158);
}

#parcel .form_part input,
.form_part button {
  border: none;
  outline: none;
}
#parcel .form_part input {
  padding: 15px;
  width: 100%;
}
#parcel .form_part input::placeholder {
  font-size: 17px;
}
#parcel .par_btn {
  color: #000;
  position: absolute;
  right: 0;
  height: 100%;
  background: rgb(255, 184, 48);
  padding: 0px 20px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
#parcel .par_btn:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 0%,
    transparent 50%
  );
  top: 0;
  bottom: 0;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
  left: 80px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#parcel .par_btn:hover::before {
  left: -90px;
}
#parcel .par_btn span {
  color: rgb(82, 82, 82);
  font-weight: 600;
  letter-spacing: 1.5;
}
#parcel .book a {
  text-decoration: none;
  float: right;
}
#parcel .book span {
  border: 2px solid rgb(255, 184, 48);
  color: #575757;
  background: transparent;
  border-radius: 4px;
  padding: 15px 18px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#parcel .book span:hover {
  background: #3DB2FF;
  color: #fff;
}

/****************************************************************************************************************/

/*********** Start Service Part******************/
#service {
  margin-top: 50px;
  overflow: hidden;
}
#service h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 35px;
  padding-bottom: 10px;
}
#service h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background: #0574bd;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: 0 auto;
}
#service .bottom_heading h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 30px;
  padding-bottom: 10px;
  margin-top: 20px;
}
#service .bottom_heading h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30%;
  background: #0574bd;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: 0 auto;
}
#service .service_item {
  margin-bottom: 35px;
}
#service .service_item img {
  height: 250px;
  width: 100%;
}
#service .service_item h3 {
  margin: 15px 0px 7px 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
#service .service_item p {
  font-family: "Lato", sans-serif;
  line-height: 26px;
  opacity: 85%;
  font-size: 15px;
  color: rgb(34, 34, 34);
}
/*********** End Service Part******************/

/*********** Start Partner Section ***********/
#partner {
  padding: 40px 0px 50px 0px;
}
#partner h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
  color: #1a1a1a;
}
#partner .part_item {
  margin-bottom: 30px;
}
#partner .part_item i {
  font-size: 70px;
  padding: 30px 0px;
  color: #ffb830;
}
#partner .part_item h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: bold;
}
#partner .part_item p {
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #424242;
}

/*********** End Partner Section ***********/

/************ Start District Section **************/
#district {
  background-color: #3db2ff;
  padding: 20px 0px;
}
#district .dis_text {
  color: #fff;
}
#district .dis_text h2 {
  font-size: 40px;
  line-height: 48px;
  font-family: "Hind Siliguri", sans-serif;
  margin-bottom: 20px;
}
#district .dis_text p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}
#district .dis_text .dis_btn button {
  
  border: none;
  outline: none;
  width: 270px;
  height: 55px;
  border-radius: 10px;
  background-color: #FFB830;
  font-size: 18px;
  font-weight: bold;
  transition: .5s;
}
#district .dis_text .dis_btn button a{
  color: #565656;
}
#district .dis_text .dis_btn button:hover{
  background-color: #f1c470;
}
/************ End District Section **************/


/*********** Start Calculator Part ************/

#calculator{
  padding: 70px 0px 50px 0px;
}
#calculator h2{
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #1a1a1a;
  font-family: "Hind Siliguri", sans-serif;
  margin-bottom: 20px;
}
#calculator p{
  font-size: 16px;
  color: #424242;
  line-height: 28px;
  font-family: "Noto Sans Bengali", sans-serif;
  margin-bottom: 15px;
}
#calculator .cal_form label{
  font-size: 16px;
  font-weight: 400;
}
#calculator .cal_form input{
  height: 45px;
  font-size: 16px;
}
#calculator .cal_form button{
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
}
#calculator .cal_form button span.text{
  font-size: 16px;
}
#calculator .cal_form .btn.drilldown>span.text:after, .hasChild>a:after {
  
  margin-right: 6px;
}
#calculator .cal_form .cal_btn button{
  background-color: #0574bd;
  color: #fff;
  padding: 8px 20px;
  font-size: 17px;
  margin: 30px 0px 20px 0px;
}
#calculator .cal_form .cal_btn a{
  font-weight: bold;
  font-size: 17px;
}


#calculator .dropdown-submenu {
  position: relative;
}

#calculator .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

#calculator .dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

#calculator .dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

#calculator .dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

#calculator .dropdown-submenu.pull-left {
  float: none;
}

#calculator .dropdown-submenu.pull-left>.dropdown-menu {
  left: 100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


#calculator .charge_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
border-radius: 10px;
padding: 20px 0px;
}
#calculator .charge_list .charge_icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
}
#calculator .charge_list .charge_icon i{
  cursor: pointer;
  font-size: 25px;
}
#calculator .charge_list h1{
  font-size: 35px;
  font-family: "Hind Siliguri", sans-serif;
  line-height: 48px;
  color: #1a1a1a;
  margin-bottom: 10px;
}
#calculator .charge_list p{
  font-size: 18px;
  line-height: 28px;
  color: #424242;
  font-family: "Noto Sans Bengali", sans-serif;
}
#calculator .charge_list .charge_link{
  margin: 30px 0px 10px 0px;
}
#calculator .charge_list .charge_link ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#calculator .charge_list .charge_link ul li{
  margin: 0px 20px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #0056B3;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

#calculator .charge_list .charge_link ul .active {
  color: #000000;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  border-bottom: 4px solid #024892;
}
#calculator .charge_list .charge_area ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}
#calculator .charge_list .charge_area ul li{
  border: 1px solid rgb(163, 163, 163);
  padding: 20px 15px;
  border-radius: 10px;
  margin: 5px;
}

#calculator .charge_list .charge_area ul li .items{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#calculator .charge_list .charge_area ul li .items p{
  font-size: 14px;
  line-height: 22px;
  color: #424242;
  font-family: "Noto Sans Bengali", sans-serif;
  margin: 5px;
}
#calculator .charge_list .charge_area ul li .items h2{
  margin-bottom: 0px;
  font-size: 18px;
  color: #1a1a1a;
  font-family: sans-serif;
  line-height: 28px;
}
#calculator .charge_list .bottom{
  margin-top: 30px;
  padding-bottom: 50px;
}
#calculator .charge_list .bottom p{
  margin-bottom: 30px;
}
#calculator .charge_list .bottom a{
  background: #3DB2FF;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  color: #fff;
  transition: .4s;
}
#calculator .charge_list .bottom a:hover{
  background: #216592;
}

/*******/
/*Funtionality*/

.multi-level, .item ul, .nav_drop input[type="checkbox"]{
  display: none
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
  height: 190px;
  overflow-x: hidden;
  border: 1px solid #d9d9d9;
  border-top: 0px;
}
#menu2:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
  height: 190px;
  overflow-x: hidden;
  border: 1px solid #d9d9d9;
  border-top: 0px;
}
/*Arrow*/
.arrow{
 width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17px 1em 0 2em;
}
.item input + .arrow{
  transform: rotate(-90deg);
  transition: .1s;
}
.item input:checked + .arrow{
  transform: rotate(0deg);
  transition: .1s;
}

/*Styles*/
.nav_drop label:hover{
  cursor: pointer;
}
.nav_drop label{
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}
.nav_drop{
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}
#nav-item{
  font-size: 28px;
  line-height: 50px;
  padding-left: 1em;
  color: white;
  background-color: #F44336;
}
.nav_drop .same{
  line-height: 45px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  color: #888889;
  font-weight: 100;
  width: 100%;
  border: 1px solid #d5cdcd;
  border-radius: 5px;
}
.nav_drop ul, .nav_drop li, .nav_drop label {
  line-height: 45px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  color: #888889;
  font-weight: 100;
  width: 100%;
}
.item ul{
  padding: 0 0.25em;
}
.nav_drop li a{
  line-height: 50px;
  margin: 0;
  padding: 0 4em;
  list-style: none;
  text-decoration: none;
  color: #90A4AE;
  font-weight: 100;
 
}
/*******/

/*********** End Calculator Part ************/


/*********** Start Slider Section***********/
#slider{
  padding: 30px 0px;
}
#slider h2{
  font-size: 40px;
  line-height: 48px;
  color: #1a1a1a;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}
#slider .carousel{
  padding-top: 30px;
}
#slider .carousel .slide_all_item{
  margin: 5px;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid rgb(214, 214, 214);
}
#slider .carousel .head{
  width: 100%;
  float: right;
  right: 0px !important;
  margin-bottom: 20px;
}
#slider .carousel .head h4{
  background: #d4d4d4;
  padding: 3px;
  font-size: 15px;
  font-weight: 500;
}
#slider .carousel .text p{
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 16px;
}
#slider .carousel .bottom{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#slider .carousel .bottom .slide_img img{
  width: 70px;
}
#slider .carousel .bottom .slide_info h6{
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
#slider .carousel .bottom .slide_info p{
  font-size: 15px;
}
#slider .owl-theme .owl-dots .owl-dot.active span {
  background: #0088cc;
 
}
/*********** End Slider Section***********/


/********** Start Question Section************/
#question{
  padding: 40px 0px 80px 0px;
}
#question h2{
  font-size: 40px;
  line-height: 48px;
  color: #1a1a1a;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
#question p{
  font-size: 18px;
  color: #424242;
  line-height: 28px;
  font-family: "Noto Sans Bengali", sans-serif;
  margin-bottom: 15px;
}
#question .card-header{
  border: none;
  background: #fff !important;
  padding-bottom: 3px;
} 
#question .card{
  border-top: none;
  border-bottom: 1px solid rgb(202, 202, 202);
  border-left: none;
  border-right: none;
}
#question button{
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
  color: rgb(66, 66, 66);
  font-size: 18px;
}

#question .card-body {
  font-size: 16px;
  padding: 0px 0px 5px 45px;
}

#question button i{
  color: #0574bd;
  font-size: 25px;
}
#question .card-body span{
  color: #0574bd;
}
#question .ques_faq{
  margin-top: 30px;
}
#question .ques_faq a{
  color: #0574bd;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#question .ques_faq a i{
  color: tomato;
  font-size: 25px;
  padding-left: 3px;
}
/********** End Question Section************/

/************** Start Partner**************/
#sign{
  padding: 30px 0px 70px 0px;
}
#sign .part_item{
  background-color: #3DB2FF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px;
}

#sign .part_item h2{
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: bold;
 
}
#sign .part_item p{
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  font-family: "Noto Sans Bengali", sans-serif;
}
#sign .part_item .part_right a{
  background: #0574BD;
  color: rgb(255, 255, 255);
  padding: 15px 70px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: .5s;
}
#sign .part_item .part_right a:hover{
  background: #045388;
}
/************** End Partner**************/

/********** Start Footer**********/
footer {
  padding: 40px 0px 60px 0px;
  background: #F5F5F5;
  width: 100%;
  margin-bottom: 0px;
}
footer .one .logo{
  width: 40px;
}
footer .one .foot_text{
  font-weight: bold;
  font-size: 20px;
}
footer .one p{
  font-size: 16px;
  margin: 15px 0px;
}
footer h4{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 19px;
}
footer .foot_link p a{
  line-height: 40px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(92, 92, 92);
  font-family: "Lato", sans-serif;
}
footer .foot_link p a:hover{
  text-decoration: underline;
}
footer .add_list p{
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 10px 0px;
}
footer .foot_social{
  margin-bottom: 20px;
}
footer .foot_social ul{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .foot_social ul li{
  list-style-type: none;
  width: 36px;
  height: 36px;
  background: #C0C0C0;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  padding: 10px;
}
footer .foot_social ul li i{
  color: #fff;
  font-size: 18px;
  padding: 3px;
  transition: .5s;
}
footer .foot_social ul li:hover{
  background: #919191;
}
footer .foot_social ul li i:hover{
  transform: rotate(360deg);
}
footer .rider_btn a{
  background: #3DB2FF;
  padding: 7px 7px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  transition: .4s;
}
footer .rider_btn a:hover{
  background: #236a99;
}
/********** End Footer**********/



/**************************************************************************************************************************************************/

/*********** Start Signin Page **************/
#signin{
  
  padding-top: 30px;
  margin-top: 5px;
}

#signin .sign_form{
  padding: 60px 0px 0px 20px;
}
#signin .sign_form h1{
  font-size: 33px;
  color: #1a1a1a;
  font-weight: bold;
  margin-bottom: 15px;
}
#signin .sign_form p{
  font-size: 17px;
  line-height: 34px;
  color: #424242;
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
}
#signin .sign_form .sign_form_part{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#signin .sign_form .sign_form_part{
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  height: 50px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
#signin .sign_form .sign_form_part .num_design{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  align-items: center;
}
#signin .sign_form .sign_form_part .num_design span {
  width: 62px;
  padding-left: 9px;
  font-size: 14px;
  border-right: 1px solid #ada7a7;
  margin-right: 5px;
}
#signin .sign_form .sign_form_part input{
  width: 100%;
    border: none;
    outline: none;
    display: block;
    height: 48px;
    padding-left: 10px;
    font-size: 14px;
}
#signin .sign_form .middle {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  height: 50px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}
#signin .sign_form .middle .eye_design{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}
#signin .sign_form .middle .eye_design span{
  border: none;
  background: transparent;
}
#signin .sign_form .middle input{
  width: 100%;
    border: none;
    outline: none;
    display: block;
    height: 48px;
}


#signin .sign_form p{
  font-size: 16px;
  line-height: 40px;
  color: #045388;
  font-weight: 600;
  display: block;
}
#signin .sign_form .sign_btn button{
  border-radius: 10px;
  height: 50px;
  display: block;
  width: 75%;
  border: none;
  outline: none;
  font-weight: 600;
  background: #d4d4d4;
  margin: 25px 0px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  transition: .5s;
}
#signin .sign_form .sign_btn button:hover{
  background: #d6b5b5;
}
#signin .sign_form .sign_bottom p{
  font-size: 16px;
  line-height: 40px;
}
#signin .sign_form .sign_bottom .first{
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 20px;
  width: 75%;
}
#signin .sign_form .sign_bottom a{
  color: #045388;
  font-weight: 600;
}
#signin .sign_slider{
  overflow: hidden;
 padding-top: 30px;
  align-items: center;
  justify-content: center;
}
#signin .sign_slider img {
  width: 400px;
  display: block;
  align-items: center;
  margin: 0 auto;
}
#signin form label.error {
  color: red;
  font-size: 12px;
  display: block;
  padding-left: 0px;
  margin-top: 80px;
  position: absolute;
}
/*********** End Signin Page **************/

/************** Start Shop Page**************/
#shop_part{
  padding: 80px 0px 60px 0px;
}
#shop_part .head h1{
  font-weight: bold;
  font-size: 35px;
  color: #1a1a1a;
  margin-bottom: 7px;
}
#shop_part .head p{
  font-size: 16px;
  line-height: 24px;
  color: #424242;
  font-family: "Lato", sans-serif;
}
#shop_part h3{
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0px 10px 0px;
}
#shop_part p{
  font-size: 15px;
  line-height: 21px;
  font-family: "Lato", sans-serif;
  margin-bottom: 25px;
}
#shop_part input,
#shop_part select{
  height: 45px;
  outline: none;
  font-size: 15px;
}
#shop_part label{
  font-size: 14px;
  line-height: 21px;
}
#shop_part button{
  background: #3DB2FF;
  color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  border: none;
  outline: none;
  padding: 10px 70px;
  transition: .5s;
  font-size: 18px;
}
#shop_part button:hover{
  background: #236896;
}
/************** End Shop Page**************/

/************* Start Shop Index page ****************/
#shop_index{
  padding: 80px 0px 200px 0px;

}
#shop_index ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
#shop_index ul .first{
  border: none;
  background: whitesmoke;
}
#shop_index ul .first .add_shop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#shop_index ul .first .add_shop .top i{
  color: #3DB2FF;
  font-size: 35px;
  cursor: pointer;
}
#shop_index ul .first .add_shop .bottom p{
  font-size: 16px;
  color: #3DB2FF;
  padding-top: 10px;
  text-align: center;
}
#shop_index ul li{
  width: 285px;
  height: 200px;
  border: 2px solid #3DB2FF;
  list-style-type: none;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
 
}
#shop_index ul li a{
  color: #000;
}
#shop_index ul li .shop_item{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
#shop_index ul li .shop_item .item_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#shop_index ul li .shop_item .item_bottom .left{
  display: flex;
  justify-content: center;
  align-items: center;
}
#shop_index ul li .shop_item .item_bottom i{
  color: #ffffff;
  background: #3DB2FF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 7px;
  align-items: center;
}
#shop_index .shop_item h4,
#shop_index .shop_item p{
  font-family: "Lato", sans-serif;
}
#shop_index .shop_item h4{
  font-size: 25px;
}
#shop_index .shop_item p{
  font-size: 16px;
}
/************* End Shop Index page ****************/


/************* Start Shop Edit page ****************/
#shop_edit{
  padding: 70px 0px;
}
#shop_edit h1{
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  margin:0px 0px 30px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  padding-right: 30px;
  color: #1a1a1a;
  margin-bottom: 30px;
}
#shop_edit h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 50%;
}
#shop_edit .edit_top i{
  cursor: pointer;
  font-size: 25px;
  color: rgb(105, 105, 105);
}
#shop_edit label{
  font-size: 14px;
  line-height: 21px;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
}
#shop_edit input{
  height: 50px;
}
#shop_edit input::placeholder{
  font-size: 14px;
  line-height: 21px;
  color: #2c2c2c;
  font-family: "Lato", sans-serif;
}
#shop_edit p{
  padding-bottom: 20px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgb(80, 80, 80);
}
#shop_edit button{
  border: none;
  outline: none;
  padding: 12px 70px;
  background: #3DB2FF;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  transition: .4s;
}
#shop_edit button:hover{
  background: #246a99;
}
/************* End Shop Edit page ****************/




/************ Start Dashboard Section *************/
#dashboard{
  padding: 70px 0px 80px 0px;
  background: #F5F5F5;
}
#dashboard .dash_top{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#dashboard .dash_top h1{
  position: relative;
  color: #1a1a1a;
  font-size: 30px;
  font-weight: 600;
  font-family: "Hind Siliguri", sans-serif;
  padding-bottom: 15px;
  line-height: 36px;
}
#dashboard .dash_top h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 40%;
}
#dashboard .dash_top p{
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 21px;
}
#dashboard .dash_right{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#dashboard .dash_right .right_select{
  margin-right: 10px;
}
#dashboard .dash_right .right_select select{
  height: 45px;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #b9b9b9;
}
#dashboard .dash_right label{
  border: 1px solid rgb(197, 197, 197);
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
}
#dashboard .dash_right input{
  border: none;
  outline: none;
}
#dashboard .dash_item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#dashboard .dash_item .items{
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 110px;
  align-items: center;
  padding: 40px 20px;
  margin: 20px 20px 20px 0px;
  border-radius: 5px;
  left: 0;
}
#dashboard .dash_item .items .items_left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}
#dashboard .dash_item .items .items_left img{
  width: 60px;
}
#dashboard .dash_item .items .items_left .text{
padding-left: 10px;
position: relative;
}


#dashboard .dash_item .items .items_left .text .icon_part{
  content: " ";
  position: absolute;
  top: 25px;
  right: -25px;
}
#dashboard .dash_item .items .items_left .text .icon_part i{
  color: rgb(209, 209, 209);
}
#dashboard .dash_item .items .items_left .text .icon_part .tooltiptext{
  visibility: hidden;
  width: 150px;
  background-color: rgb(133, 133, 133);
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  z-index: 1;
  bottom: 112%;
  margin-left: -133px;
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 20px;
  
}
#dashboard .dash_item .items .items_left .text .icon_part:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}





#dashboard .dash_item .items .items_left .text h6{
  font-weight: bolder;
  font-size: 20px;
}
#dashboard .dash_item .items .items_left .text p{
  font-size: 16px;
  color: rgb(121, 121, 121);
}
/************ End Dashboard Section *************/

/************ Start Create Parcel Part ***************/

#create_part{
  padding: 60px 0px !important;
}
#create_part .ship_part{
  background: #F5F5F5;
  width: 100%;
  padding: 40px 20px;
  border-radius: 5px;
}
#create_part form label {
  width: auto;
  font-weight: bold;
  display: inline-block;
  margin-top: 0px;
}
#create_part .ship_part p{
  font-weight: bolder;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding-right: 20px;
  line-height: 21px;
}
#create_part .ship_part select{
  width: 30%;
  height: 40px;
  margin-top: 20px;
  outline: none;
  color: rgb(90, 90, 90);
  border-radius: 5px;
  font-size: 15px;
}

#create_part .button_part{
  padding: 50px 0px 30px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#create_part h1{
  position: relative;
  color: #1a1a1a;
  font-size: 22px;
  font-weight: 600;
  font-family: "Hind Siliguri", sans-serif;
  padding-bottom: 15px;
  line-height: 36px;
}
#create_part h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 35%;
}
#create_part .button_part .button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
}
#create_part .button_part .button a{
  border: 1px solid #0574bd;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 30px;
  font-size: 15px;
}
#create_part .form_part button{
  background: transparent;
  border: 1px solid #0056B3;
  padding: 8px 30px;
  border-radius: 30px;
  color: #0056B3;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}
#create_part .form_part .chek_item .form-check {
  padding-left: 0rem !important; 
}



#create_part .form_part .info_part{
  position: relative;
}
#create_part .form_part .info_part .icon_part{
  content: " ";
  position: absolute;
  top: 35px;
  right: 25px;
}
#create_part .form_part .info_part .icon_part i{
  color: rgb(122, 122, 122);
}
#create_part .form_part .info_part .icon_part .tooltiptext{
  visibility: hidden;
  width: 200px;
  background-color: rgb(133, 133, 133);
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  z-index: 1;
  bottom: 125%;
  margin-left: -190px;
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 20px;
}
#create_part .form_part .info_part .icon_part:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#create_part .right_part{
  background: #F5F5F5;
  padding: 50px 5px;
  height: 100%;
  border-radius: 10px;
}
#create_part .form_part label,
#create_part .form_part input::placeholder,
#create_part .form_part select,
#create_part .form_part textarea::placeholder{
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
#create_part .form_part .form-check input{
  height: auto;
}
#create_part .form_part input,
#create_part .form_part select{
  height: 45px;
}
#create_part .form_part label span{
  margin-top: 20px;
}
#create_part .right_part table th,
#create_part .right_part table td{
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#create_part .right_part table tbody{
  
  border-top: 1px solid rgb(190, 190, 190);
}
#create_part .right_part table tbody th{
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
#create_part .right_part .bottom p{
  font-size: 14px;
  font-weight: bold;
  color: #0056B3;
  font-family: "Lato", sans-serif;
}
/************ End Create Parcel Part ***************/

/************* Start Parcel View Page ****************/
#parcel_view{
  padding: 60px 0px;
}
#parcel_view .view_left{
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
}
#parcel_view .view_heading h1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
#parcel_view .view_heading h1 i{
  color: #36B3AE;
  font-size: 30px;
}
#parcel_view .view_heading p{
  font-size: 17px;
  margin-bottom: 40px;
}
#parcel_view .view_heading p span{
  font-weight: bold;
}
#parcel_view .view_download{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#parcel_view .view_download a{
  font-weight: 600;
  font-size: 14px;
}

#parcel_view .view_body{
  border: 1px solid rgb(161, 161, 161);
  margin-top: 15px;
}
#parcel_view .view_body .view_marchant{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgb(161, 161, 161);
  padding: 20px;
}
#parcel_view .view_body .view_customer p,
#parcel_view .view_body .view_marchant p{
  font-size: 15px;
}
#parcel_view .view_body h3{
  font-size: 20px;
  font-weight: 500;
  color: rgb(70, 70, 70);
  margin-right: 20px;
}
#parcel_view .view_body h5{
  font-size: 19px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}
#parcel_view .view_body .amount h6{
  font-size: 19px;
  font-weight: 500;
  color: rgb(70, 70, 70);
}
#parcel_view .view_body .view_customer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(161, 161, 161);
  padding: 20px;
}
#parcel_view .view_body .view_customer .left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#parcel_view .view_body .view_invoice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgb(161, 161, 161);
}
#parcel_view .view_body .view_invoice .left,
#parcel_view .view_body .view_invoice .right{
  padding: 20px;
}
#parcel_view .view_body .view_invoice .left{
  border-right: 1px solid rgb(161, 161, 161);
 
}
#parcel_view .view_body .view_invoice .right{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
#parcel_view .view_body .view_invoice .right p:first-child{
  margin-right: 50px;
}
#parcel_view .view_body .view_invoice .right p,
#parcel_view .view_body .view_bar p
{
  font-size: 14px;
}
#parcel_view .view_body .view_invoice .right p span,
#parcel_view .view_body .view_bar p span
{
  font-weight: 600;
  font-size: 15px;
}
#parcel_view .view_body .view_status{
  border-bottom: 1px solid rgb(161, 161, 161);
}
#parcel_view .view_body .view_status p{
  padding: 20px;
}
#parcel_view .view_body .view_bar{
  display: flex;
  flex-direction: row;
  align-items: center;

}
#parcel_view .view_body .view_bar .left{
  border-right: 1px solid rgb(161, 161, 161);
}
#parcel_view .view_body .view_bar .left img{
  padding: 10px;
  width: 150px;
}
#parcel_view .view_body .view_bar .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
 
}

#parcel_view .view_body .view_bar .right .top img{
  width: 400px;
  height: 80px;
  padding: 10px;
}
#parcel_view .view_body .view_bar .right .bottom{
  border-top: 1px solid rgb(161, 161, 161);
}
#parcel_view .view_body .view_bar .right .bottom p{
  display: inline-block;
  padding: 20px;
}
#parcel_view .view_body .view_bar .right .bottom p:first-child{
  border-right: 1px solid rgb(161, 161, 161);
  
}


#parcel_view .view_right .know{
  background: #F5F5F5;
  padding: 40px;
}
#parcel_view .view_right .know h4,
#parcel_view .view_right .view_guide h3{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 30px;
}
#parcel_view .view_right .know h4 i{
  color: red;
}
#parcel_view .view_right h2{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 20px;
}
#parcel_view .view_right p{
  font-size: 15px;
}
#parcel_view .view_right .view_guide{
  padding: 40px;
  border: 1px solid rgb(201, 201, 201);
  margin-top: 50px;
  border-radius: 5px;
}
#parcel_view .view_right .view_guide h3{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
#parcel_view .view_right .view_guide h3 i{
  font-size: 25px;
  color: #df8286;
}
#parcel_view .view_right .view_guide p{
  margin: 10px 0px;
  font-size: 15px;
  text-align: justify;
}
#parcel_view .view_right .view_guide p i{
  color: #df8286;
  font-size: 20px;
}


#parcel_view .view_btn{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#parcel_view .view_btn .left a{
    border: 2px solid #045388;
    border-radius: 10px;
    padding: 13px 20px;
    font-weight: 600;
    font-size: 16px;
}
#parcel_view .view_btn .right a{
    background: #0467a8;
    padding: 13px 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
}
/************* End Parcel View Page ****************/

/************* Start Parcel Index Page **********************/
#parcel_table{
  padding: 60px 10px;
  width: 100%;
  margin: 0 auto;
}
#parcel_table h1{
  font-size: 22px;
  font-weight: 500;
  margin:0px 0px 15px 0px;
  font-family: "Lato", sans-serif;
}
#parcel_table .list ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#parcel_table .list ul li{
  list-style-type: none;
  width: 200px;
  height: 40px;
  margin: 10px 8px 10px 0px;
}
#parcel_table .list ul li:last-child{
  margin-top: 20px;
  width: auto;
}
#parcel_table .list ul li a{
  background: #3DB2FF;
  color: #fff;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  transition: .4s;
}
#parcel_table .list ul li a:hover{
  background: #246d9e;
}


#parcel_table .order{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#parcel_table .order h1{
  position: relative;
  font-size: 22px;
  font-weight: 500;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
}
#parcel_table .order h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 50%;
}
#parcel_table .order span{
  font-size: 14px;
  color: rgb(131, 131, 131);
}





#parcel_table .table_part{
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#parcel_table .table_part .left{
  overflow-x: scroll;
  overflow-y: hidden;
  width: 80%;
}
#parcel_table .table_part .left .table .status_btn a:first-child{
  background: #B8C6CC;
  color: #000;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 5px;
}
#parcel_table .table_part .left .table .status_btn a:last-child{
  background: #B8DDFA;
  color: #004ea1;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 5px;
}
#parcel_table .table_part tr:hover
{
  background: #E6F7FF !important;
}
#parcel_table .table_part .left tr th{
  min-width: 185px;
  font-size: 14px;
  color: rgb(94, 94, 94);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#parcel_table .table_part .left .table tbody tr td,
#parcel_table .table_part .left .table tbody tr th{
  vertical-align: middle;
  font-size: 14px;
  color: rgb(94, 94, 94);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}


#parcel_table .table_part .left tr th:nth-child(1){
  min-width: 30px;
}
#parcel_table .table_part .left tr th:nth-child(2){
  min-width: 150px;
}
#parcel_table .table_part .left tr th:nth-child(3){
  min-width: 140px;
}
#parcel_table .table_part .left tr th:nth-child(5){
  min-width: 140px;
}


#parcel_table .table_part .right{
  width: 20%;
  box-shadow: -5px 1px 5px -1px rgba(194, 194, 194, 0.75);
-webkit-box-shadow: -5px 1px 5px -1px rgba(194, 194, 194, 0.75);
-moz-box-shadow: -5px 1px 5px -1px rgba(194, 194, 194, 0.75);
height: auto;
}
#parcel_table .table_part .right tr th{
  font-size: 14px;
  color: rgb(94, 94, 94);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border-bottom: none;
}
#parcel_table .table_part .right .table tr td{
  height: 88px;
  font-size: 14px;
  color: rgb(94, 94, 94);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#parcel_table .table_part .right .table thead tr{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}
#parcel_table .table_part .right .table tbody tr{
 margin: 0 auto;
 text-align: center;
}
#parcel_table .table_part .right .table .top_btn a{
  background: #B8C6CC;
  color: #000;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
}
#parcel_table .table_part .right .table .bottom_btn{
  margin-top: 10px;
}
#parcel_table .table_part .right .table .bottom_btn a{
  background: #B8DDFA;
  color: #004ea1;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  
}
/************* End Parcel Index Page **********************/

/************* Start Parcel issues Page **********************/
#issues {
  padding: 20px 15px 0px 15px;
}
#issues .heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(185, 185, 185);
}
#issues .heading h2{
  color: #000;
  font-weight: bold;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
#issues .body h4{
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  padding-bottom: 25px;
  margin-top: 15px;
}
#issues .heading span{
  color: red;
  font-size: 19px;
  margin-left: 10px;
}
#issues .heading .right i{
  cursor: pointer;
}
#issues ul li{
  padding: 10px 10px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(78, 78, 78);
  font-family: "Lato", sans-serif;
}
#issues ul li:hover{
  background: #d8f2ff;
  border-radius: 10px;
}
#issues .pic_back a{
  background: #0056B3;
  padding: 7px 25px;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  float: right;
  margin:20px;

}
/************* End Parcel issues Page **********************/


/************* Start Parcel Track Page ******************/
#track {
  padding: 50px 10px 50px 10px;
}
#track .heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#track h1{
  position: relative;
  font-size: 16px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  color: #363636;
}
#track h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 60%;
}
#track .heading .right_head a{
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #ff0000;
  font-family: "Lato", sans-serif;
}

#track p{
  font-size: 14px;
  line-height: 21px;
  font-family: "Lato", sans-serif;
}
#track h4{
  font-size: 15px;
  line-height: 26px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  padding: 10px 0px;
  color: rgb(48, 48, 48);
}
#track .check_body{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#track .check_box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 0px;
  position: relative;
}
#track .check_box::after{
  content: '';
    position: absolute;
    top: 74px;
    left: 18px;
    height: 80%;
    background: rgb(19, 160, 84);
    width: 1px;
}
#track .check_box .icon_part{
  margin: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#track .check_box .icon_part i{
  border: 1px solid #13A054;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  font-size: 22px;
  background: #fff;
}
#track .check_box .icon_part .active{
  background: #13A054;
  color: #fff;
}

#track .right{
  padding: 10px 10px;
  background: #F5F5F5;
}
#track .right .top{
  margin-bottom: 15px;
  
}
#track .right .items{
  padding: 10px 0px;
}
/************* End Parcel Track Page ******************/

/************* Start Parcel Edit Page ******************/

#parcel_edit{
  padding: 0px 0px;
}
#parcel_edit button{
  border: none;
  outline: none;
  padding: 12px 70px;
  background: #0167d4;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  transition: .4s;
}
#parcel_edit button:hover{
  background: #004fa3;
}
#parcel_edit button:last-child{
  background: transparent;
  color: #004ea1;
  font-size: 16px;
}
/************* End Parcel Edit Page ******************/





/************ Start Payments Index Page *******************/
#payment{
  padding: 60px 0px;
}
#payment .payment_top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#payment h1{
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  color: #363636;
}
#payment h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 60%;
}
#payment .right ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
#payment .right ul li{
  margin: 5px 8px;
  font-size: 14px;
}
#payment .right label{
  border: 1px solid rgb(197, 197, 197);
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
  color: rgb(139, 139, 139);
}
#payment .right label input{
  border: none;
  outline: none;
}
#payment .right ul li:first-child input{
  height: 45px;
}
#payment .right ul li a{
  border: 1px solid #0056B3;
  padding: 8px 20px;
  color: #0056B3;
  border-radius: 30px;
}
#payment .table thead tr {
  padding: 30px 0px;
}
#payment .table tbody tr td,
#payment .table tbody tr th{
  vertical-align: middle;
  font-size: 14px;
  color: rgb(94, 94, 94);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 30px 8px;
  text-align: center;
}
#payment .payment_table .table thead tr th {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgb(80, 80, 80);
  /* width: 100px; */
  padding: 20px 15px;
  text-align: center;
  font-weight: 400;
}
#payment .table tbody tr td span{
  background: #0167d4;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}
#payment .table tbody tr:hover{
    background: #E6F7FF;
}
#payment .table tbody tr td i{
  font-size: 25px;
  margin: 0px 5px;
}
#payment .table tbody .bold_border{
  border-bottom: 2px solid #000;
}
#payment .table tbody tr .bold_txt{
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
#payment .table tbody tr .returned{
  color: #B50C3B;
}
#payment .table tbody tr .deliver{
  color: #1A841A;
}
/************ End Payments Index Page *******************/


/************ Start Payments Details Page *******************/
#payment .pay_id{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
#payment .pay_id p{
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgb(97, 97, 97);
  font-weight: 400;
}
#payment .pay_id p span{
  color: rgb(37, 37, 37);
  font-weight: 600;
}
#payment .pay_id i{
  font-size: 25px;
}
/************ End Payments Details Page *******************/


/************ Start Payments PDF Page *******************/
#payment_pdf{
  padding: 70px 80px;
}
#payment_pdf .pdf{
  display: flex;
  flex-direction: column;
  
}
#payment_pdf .pdf_top{
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#payment_pdf .pdf_top img{
  width: 60px;

}
#payment_pdf .pdf_top .logo{
  color: #0056B3;
  font-size: 18px;
  font-weight: bold;
}
#payment_pdf .pdf_top .bd{
  text-align: center;
}
#payment_pdf .pdf_customer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#payment_pdf .pdf_customer .cus_right{
  width: 30%;
  margin: 0 auto;
}
#payment_pdf p{
  font-size: 14px;
  font-weight: 400;
  color: rgb(54, 54, 54);
  font-family: "Lato", sans-serif;
  line-height: 25px;
}
#payment_pdf p span{
   font-size: 14px;
   color: #000;
   font-weight: bold;
   font-family: "Lato", sans-serif;
}

#payment_pdf .pdf_table_top{
  padding:30px 0px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#payment_pdf .table thead tr th {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 0);
  /* width: 100px; */
  text-align: center;
  font-weight: 400;
  border: 1px solid black;
  border-collapse: collapse;
}
#payment_pdf .table tbody tr td,
#payment_pdf .table tbody tr th{
  vertical-align: middle;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
#payment_pdf .pdf_bottom{
  margin-top: 40px;
}
#payment_pdf .pdf_bottom p:last-child{
  padding-top: 20px;
}
/************ End Payments PDF Page *******************/


/************ Start Payment_method index Page *******************/
#payment_index{
  padding: 60px 0px;
}
#payment_index .pay_heading h1{
  display: inline-block;
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  color: #000000;
  margin-right: 20px;
}
#payment_index .pay_heading h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 40%;
}
#payment_index .pay_heading a{
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

#payment_index .pay_body{
  padding: 30px 0px;
}
#payment_index .pay_body .pay_top p{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}
#payment_index .pay_body .pay_item ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#payment_index .pay_body .pay_item ul li{
  width: 360px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(177, 177, 177);
}
#payment_index .pay_body .pay_item ul .first{
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
}
#payment_index .pay_body .pay_item .add_account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#payment_index .pay_body .pay_item .add_account i{
  font-size: 25px;
}
#payment_index .pay_body .pay_item .add_account p{
  font-size: 18px;
}
#payment_index .pay_body .pay_item ul .common p{
  width: 100%;
    font-size: 14px;
    color: black;
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    margin-bottom: 20px;
}

#payment_index .pay_body .pay_item ul .common .first_span{
  flex: 1 1 0%;
  font-size: 14px;
  font-weight: 600;
}
#payment_index .pay_body .pay_item ul .common .second_span{
  flex: 0.8 1 0%;
  font-size: 13px;
}
/************ End Payment_method index Page *******************/

/************ Start payment_create index Page *******************/
#payment_create{
  padding: 60px 0px;
}
#payment_create h1{
  font-size: 28px;
  line-height: 45px;
  color: #1a1a1a;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
#payment_create p{
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #424242;
}
#payment_create .create_body{
  padding: 30px 0px;
}
#payment_create .create_body .form-check{
  display: inline !important;
  margin: 0px 10px;
  
}
#payment_create .create_body label,
#payment_create .create_body input::placeholder{
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #424242;
}
#payment_create .create_body input,
#payment_create .create_body select{
  height: 45px;
  font-size: 15px;
} 
#payment_create .create_body .form-check input{
  height: 15px !important;
}
#payment_create .create_body button{
  padding: 12px 40px;
  border: none;
  outline: none;
  background: #3DB2FF;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 40px;
  transition: .4s;
}
#payment_create .create_body button:hover{
  background: #2673a7;
}

/****************** OTP ***************/
#payment_create .payment_otp{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 0px rgba(74,73,73,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(74,73,73,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(74,73,73,0.75);
padding: 30px 30px;
border-radius: 10px;
}
#payment_create .payment_otp .otp_top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


#payment_create .payment_otp .otp_top h2{
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 15px;
  color: #000000;
}
#payment_create .payment_otp .otp_top h2::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 40%;
}
#payment_create .payment_otp .otp_top i{
  cursor: pointer;
  font-size: 25px;
}
#payment_create .payment_otp input{
  outline: none;
  height: 45px;
  font-size: 15px;
}
#payment_create .payment_otp .otp_input p{
  font-size: 14px;
  margin: 15px 0px;
  font-family: "Lato", sans-serif;
  color: rgb(54, 54, 54);
}
#payment_create .payment_otp .otp_btn button{
  background: #3DB2FF;
  color: #fff;
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  margin-bottom: 10px;
  transition: .4s;
}
#payment_create .payment_otp .otp_btn button:hover{
  background: #246a99;
}
#payment_create .payment_otp .otp_time p{
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#payment_create .payment_otp .otp_time span{
  color: #0056B3;
  font-weight: 600;
}

/************ End payment_create index Page *******************/


/************** Start Change Password ***************/
#change_pass{
  padding: 100px 0px;
}
#change_pass h1{
  display: inline-block;
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  color: #000000;
  margin-bottom: 30px;
}
#change_pass h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 60%;
}

#change_pass .eye_design{
  border: 1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin-bottom: 35px;
  overflow: hidden;
}
#change_pass .eye_design input{
  border: none;
  outline: none;
  height: 50px;
  width: 80%;
}


#change_pass p{
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 21px;
  margin-bottom: 30px;
}

#change_pass input::placeholder{
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
#change_pass button{
  border: none;
  outline: none;
  background: #3DB2FF;
  color: #fff;
  padding: 10px 70px;
  border-radius: 10px;
  font-size: 17px;
  transition: .4s;
  display: block;
  margin: 0 auto;
}
#change_pass button:hover{
  background: #216694;
}
#change_pass a,
#change_pass span{
  color: #3DB2FF;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}
#change_pass span{
  border: none;
  background: transparent;
}
/************** End Change Password ***************/


/*************** Start Notification *******************/
#notification{
  padding: 100px 0px;
}
#notification h1{
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  color: #000000;
  margin-bottom: 30px;
}

#notification input{
  height: 50px;
  margin: 15px 0px;
  font-size: 15px;
}
#notification button{
  border: none;
  outline: none;
  background: #3DB2FF;
  color: #fff;
  padding: 10px 70px;
  border-radius: 10px;
  font-size: 17px;
  transition: .4s;
  display: block;
  margin: 0 auto;
}
#notification button:hover{
  background: #226694;
}

/*************** End Notification *******************/


/*************** Start Pickup Edit Page *******************/
#pickup_edit{
  padding: 60px 0px;
}
#pickup_edit .top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(163, 163, 163);
}
#pickup_edit .top i{
  cursor: pointer;
}
#pickup_edit p{
  font-size: 16px;
  color: #000;
  font-family: "Lato", sans-serif;
}

#pickup_edit label{
  font-size: 14px;
  color: #000;
  font-family: "Lato", sans-serif;
}
#pickup_edit input::placeholder{
  font-size: 14px;
  color: rgb(170, 170, 170);
  font-family: "Lato", sans-serif;
}
#pickup_edit button{
  border: 1px solid rgb(105, 105, 105);
  outline: none;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 10px 20px;
  font-size: 16px;
  color: rgb(110, 110, 110);
}
/*************** End Pickup Edit Page *******************/


/*************** Start Faq Page *******************/

#faq{
  padding: 40px 0px 80px 0px;
}
#faq .faq_heading h1{
  font-size: 30px;
  line-height: 36px;
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
#faq h2{
  font-size: 25px;
  line-height: 30px;
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}
#faq .faq_left{
  background: #eeeeee;
  padding: 20px;
  border-radius: 10px;
}
#faq .faq_left ul li{
  margin-bottom: 30px;
}
#faq .faq_left ul .active {
  color: #FBFFE4;
  padding: 0px 0px 0px 10px;
  border-left: 5px solid #024892;
}

#faq h3{
  font-size: 18px;
  line-height: 27px;
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
#faq p{
  font-size: 14px;
  color: #424242;
  line-height: 28px;
  font-family: "Lato", sans-serif;
}
#faq .card-header{
  border: none;
  background: transparent;
  padding: 0px;
} 
#faq .card{
  border-top: none;
  border-bottom: 1px solid rgb(202, 202, 202);
  border-left: none;
  border-right: none;
}
#faq button{
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
  color: #1a1a1a;
  font-size: 18px;
  line-height: 26px;
}
#faq .btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
#faq .card-body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 0px 0px 10px 10px;
}
#faq .title{
  margin-top: 40px;
}
#faq .faq_law{
  margin-top: 80px;
}
#faq .faq_law h1{
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #1a1a1a;
  font-family: "Hind Siliguri", sans-serif;
}
#faq .faq_law .faq_bottom{
  border: 1px solid rgb(173, 173, 173);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#faq .faq_law .faq_bottom i{
  font-size: 50px;
  color: #0088cc;
  margin-right: 15px;
}
#faq .faq_law .faq_bottom h2{
  font-size: 24px;
  line-height: 36px;
  color: #1a1a1a;
  font-family: "Hind Siliguri", sans-serif;
}
#faq .faq_law .faq_bottom p{
  font-size: 16px;
  line-height: 24px;
  color: #424242;
  margin-bottom: 20px;
  font-family: "Noto Sans Bengali", sans-serif;
}
#faq .faq_law .faq_bottom a{
  background: #3DB2FF;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 15px;
  transition: .4s;
}
#faq .faq_law .faq_bottom a:hover{
  background: #236b9b;
}
#faq .faq_law .faq_bottom h2{
  margin-top: 0px;
}
/*************** End Faq Page *******************/

/*************** Start Coverage Page *******************/
#coverage{
  padding: 60px 0px;
}
#coverage .cov_heading{
  margin-bottom: 25px;
}
#coverage .cov_heading{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#coverage .cov_heading .left{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#coverage .cov_heading .left h1{
  font-size: 22px;
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: 500;
  margin-right: 40px;
}
#coverage .cov_heading select,
#coverage .cov_heading input{
  font-size: 15px;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  margin: 0px 5px;
  outline: none;
  color: rgb(139, 139, 139);
  border: 1px solid rgb(179, 179, 179);
}
#coverage .cov_heading a{
  border: 1px solid rgb(177, 177, 177);
  padding: 8px 30px;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(139, 139, 139);
}
#coverage .table thead tr th,
#coverage .table tbody tr td{
  font-size: 14px;
  color: rgb(53, 53, 53);
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
#coverage .table tbody tr:hover{
  background: #E6F7FF;
}
/*************** End Coverage Page *******************/


/****************** Start Terms *************************/
#terms{
  padding: 60px 0px;
}
#terms h1{
  font-size: 30px;
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
#terms .items h4{
  font-size: 18px;
  line-height: 25px;
  font-family: "Lato", sans-serif;
  color: #1a1a1a;
  font-weight: bold;
  margin:25px 0px 20px 0px;
}
#terms .items p,
#terms .items ul li{
  margin: 10px 0px;
  font-size: 14px;
  line-height: 26px;
  font-family: "Lato", sans-serif;
}
#terms .items ul li{
  list-style-type: disc;
  margin-left: 50px;
}
#terms .items ul li::marker{
  color: #0056B3;
  font-size: 20px;
}
#terms .table thead tr th,
#terms .table tbody tr td{
  font-size: 14px;
  line-height: 26px;
  font-family: "Lato", sans-serif;
  color: rgb(63, 63, 63);
}
#terms .table tbody tr:hover{
  background: #E6F7FF;
}
#terms .terms_btn{
margin-top: 30px;
}
#terms .terms_btn a{
  border: 2px solid #0056B3;
  padding: 12px 40px;
  color: #0056B3;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
}
/****************** End Terms *************************/



/**************** Start Rider Login *******************/
#rider_login{
  padding: 80px 0px;
  height: 100%;
  width: 100%;
}
#rider_login .main{
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 0px 14px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 0px 14px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 0px 14px 3px rgba(0,0,0,0.5);
  width: 100%;
  height: 650px;
  margin: 0 auto;
}
#rider_login .main .left{
  background: #3DB2FF;
  width: 100%;
  height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#rider_login .main .left .title{
  text-align: center;
}
#rider_login .main .left .title h2{
  color: #fff;
  font-size: 30px;
  font-family: "Lato", sans-serif;
}
#rider_login .main .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#rider_login .main .right h2{
  color: rgb(36, 36, 36);
  font-size: 30px;
  font-family: "Lato", sans-serif;
  padding-bottom: 25px;
}


#rider_login .main .right .rider_input_part {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 1px 0px 14px 3px rgb(0 0 0 / 50%);
  -webkit-box-shadow: 1px 0px 14px 3px rgb(0 0 0 / 50%);
  -moz-box-shadow: 1px 0px 14px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  height: 50px;
}
#rider_login .main .right .rider_input_part input{
  box-shadow: none;
  width: 100%;
}
#rider_login .main .right .rider_input_part .rider_left span {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0px 10px;
  font-size: 14px;
}
#rider_login .main .rider_input_part label.error {
  color: red;
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding-left: 0px;
    margin-top: 80px;
    position: absolute;
}





#rider_login .main .right .two{
  margin-top: 30px;
}
#rider_login .main .right input
{
  background: transparent;
  height: 50px;
  border: none;
  outline: none;
  box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.5);
}
#rider_login .main .right .eye_design{
  border-radius: 5px;
  height: 50px;
  overflow: hidden;
  box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 0px 6px 1px rgba(0,0,0,0.5);
}
#rider_login .main .right .eye_design input{
  border: none;
  box-shadow: none;
}
#rider_login .main .right .eye_design span{
  background: transparent;
  border: none;
}
#rider_login .main .right label{
  padding: 0px 0px 5px 0px ;
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
}

#rider_login .main .right span input{
  height: 12px;
  margin: 0px;
}
#rider_login .main .right span a{
  font-size: 14px
}
#rider_login .main .right span small{
  padding-left: 5px;
  font-size: 14px;
}
#rider_login .main .right button{
  display: block;
  background: #0160c5;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  transition: .4s;
}
#rider_login .main .right button:hover{
  background: #0151a7;
}
/**************** End Rider Login *******************/


/***************** Start Rider Track Page ***********/
#rider_track{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
}

#rider_track h1{
  display: inline-block;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  margin:0px 0px 10px 0px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
  color: #3f3f3f;
  margin-bottom: 30px;
}
#rider_track h1::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 60%;
}
#rider_track .track_body{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}
#rider_track .track_body .merchand,
#rider_track .track_body .customer,
#rider_track .track_body .stages .track_table{
  background: #F5F5F5;
  padding: 20px;
}
#rider_track .track_body h2{
  display: inline-block;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #363636;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#rider_track .track_body h2::after{
  position: absolute;
  content: "";
  height: 4px;
  background: #057dce;
  left: 0px;
  bottom: 0px;
  width: 60%;
}
#rider_track .track_id{
  margin-bottom: 20px;
}
#rider_track .track_id p{
  padding-top: 0px;
  margin-top: 0px !important;
}
#rider_track .track_body .merchand p,
#rider_track .track_body .customer p,
#rider_track .track_id p{
  font-family: "Lato", sans-serif;
  color: #212529;
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
}
#rider_track .track_body .merchand h4,
#rider_track .track_body .customer h4,
#rider_track .track_id h4{
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #303030;
  line-height: 26px;
  font-weight: 600;
  padding: 10px 0px;
}
#rider_track .track_table thead tr,
#rider_track .track_table tbody tr{
  border-bottom: 1px solid rgb(184, 184, 184);
  font-family: "Lato", sans-serif;

}
#rider_track .track_table thead tr th{
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
}
#rider_track .track_table table
{
 border-collapse: separate;
 border-spacing: 0 15px;
 
}
#rider_track .track_table tbody tr td{
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}
#rider_track .track_table tbody tr td:first-child{
  width: 320px;
  height: auto;
  background: #3DB2FF;
}
#rider_track .track_table tbody tr td:nth-child(2){
  width: 130px;
  height: auto;
}
#rider_track .track_table tbody tr td:nth-child(3){
  width: 130px;
  height: auto;
}
#rider_track .track_table tbody tr td p{
  text-align: start;
}
#rider_track .track_table tbody tr td a{
  background: #3DB2FF;
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 5px;
  margin: 5px;
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  transition: .4s;
  display: block;
}
#rider_track .track_table tbody tr td a:hover{
  background: #2879af;
  color: #fff;
}
/***************** End Rider Track Page ***********/